a {
    color: #4241CA;
    text-decoration: none;
}

.favorite {
    color: #F8BE23;
}
.notFavorite {
    color: black;
}
.header {
    width: 100%;
    display: inline-block;
}
.weekdayRow {
    border: 3pt solid black;
}
.navWeekday {
    color: black;
    font-size: 60pt;
}
.tableNav {
    width: 180pt;
}

.dashboardTitle {
    width: 95%;
    height: 100%;
    text-align: center;
}
#dailyView {
    height: 100%;
    border: 3pt solid black;
}
#activityForCalendarHeader {
    margin: 18pt;
    font-weight: bolder;
    color: #555FD1;
    font-size: 40pt;
}
#backToDashboardButton {
    float: left;
    color: #4241CA;
    font-size: 16pt;
    font-variant: none;
}
.detailWeekdayLabel {
    font-size: 28pt;
    font-weight: bold;
    padding: 20pt 10pt;
    color: #4241CA;
}
.labelForToday {
    background: #39B8AD;
    color: white;
}
#activityForCalendarDiv {
    color: black;
    font-size: 16pt;
    font-weight: normal;
    border: 3pt solid black;
}
#activityDescription {
    margin-bottom: 40pt;
}
#changeActivityButtons {
    width: 100%;
}
#lastActivity {
    float: left;
}
#newActivity {
    float: right;
}
.changeActivityInvertedButton {
    color: #4AC2BB;
    font-size: 18pt;
    text-decoration: normal;
}
#fastDetailsBox {
    /*border: 3pt solid black;*/
    /*border-radius: 1pt;*/
/*    padding: 10pt;
*/    /*float: right;*/
    /*display: inline-block;*/
    height: 100%;
    vertical-align: center;
    margin-left: 30pt;
}
.imageAndDetails {
    width: 100%;
    display: inline-block;
    text-align: center;
    vertical-align: center;
}
.description {
    color: black;
    border: none;
    padding: 10pt;
    table-layout: fixed;
    min-width: 140pt;
    height: 160pt;
    overflow-y: scroll;
}
.actImage {
    /*float: left;*/
}
/* Timer Stuff*/
#endActivityButton {
    font-size: 18pt;
    text-transform: capitalize;
    margin: 20pt;
    max-width: 400pt;
}
#filterOpenButton {
    float: left;
    margin: 0pt;
}
#timerDiv {
    position: absolute;
    z-index: 10;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    background-color: white;
    border: 2pt solid #1C1D21;
    vertical-align: center;
}
#timerContent {
    width: 60%;
    height: 50%;
    margin: 20% 25%;
}


